* {
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
    color: rgb(225, 225, 225);
    z-index: 1;
}

.guitar-blue, .guitar-purple, .drums-green {
    display: none;
}

body {
    margin: 0;
    position: relative;
    background: linear-gradient(0deg, rgba(140,0,0,1) 0%, rgb(54, 0, 0) 20%) fixed;
}

.drums-red {
    position: fixed;
    z-index: -1;
    width: 90vw;
    max-width: 1000px;
    right: 0;
    left: 0;
    bottom: 10%;
    margin-right: auto;
    margin-left: auto;
}

main {
    z-index: 1;
}

header {
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.title {
    width: 75%;
    margin-top: 10px;
}

h2 {
    margin-top: 5px;
    margin-bottom: -20px;
}

.intro-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(54, 0, 0, 0.733);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 20px;
    box-shadow: 0px 0px 9px 2px rgb(255, 0, 0);
    padding: 5px;
    margin-top: -30px;
    margin-bottom: 15px;
    text-align: center;
}

.intro {
    font-size: 16px;
    line-height: 1.3;
    margin-left: auto;
    margin-right: auto;
}

form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
    padding: 5px 2px;
}

#artist-song {
    width: 55%;
    font-size: 16px;
    color: black;
}

#instrument {
    width: 20%;
    font-size: 16px;
    margin-right: 23%;
    color: black;
}

.option {
    color: black;
}

.button {
    width: 30%;
    margin-top: 15px;
    font-size: 25px;
    background-color: rgba(54, 0, 0, 0.733);
    box-shadow: 0px 0px 9px 5px rgb(255, 0, 0);
}

h1 {
    margin-left: 5%;
    font-size: 25px;
    margin-bottom: 5px;
}

.sheet-music-results-container {
    display: flex;
    flex-wrap: wrap;
}

.sheet-music-results {
    font-size: 16px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 20px;
    box-shadow: 0px 0px 9px 2px rgb(255, 0, 0);
    background-color: rgba(54, 0, 0, 0.733);
    width: fit-content;
    margin-left: 5%;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.link {
    color: yellow;
}

.lyrics-results {
    font-size: 16px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 20px;
    box-shadow: 0px 0px 9px 2px rgb(255, 0, 0);
    background-color: rgba(54, 0, 0, 0.733);
    width: fit-content;
    margin-left: 5%;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.lyrics-image {
    width: 100px;
}

.video-info {
    list-style-type: none;
}

.video-results {
    display: flex;
    margin-bottom: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 20px;
    box-shadow: 0px 0px 9px 2px rgb(255, 0, 0);
    background-color: rgba(54, 0, 0, 0.733);
}

.video-info {
    font-size: 16px;
}

.title2 {
    display: none;
}

.guitar-neck {
    display: none;
}

@media screen and (min-width: 768px) {
    .title {
        display: none;
    }

    header {
        margin-top: 0;
    }

    .title2 {
        display: contents;
        font-size: 110px;
        text-shadow: 0 0 4px white;
    }

    .guitar-neck {
        display: block;
        position: absolute;
        left: -65%;
        top: -165px;
        z-index: -1;
    }

    .guitar-purple {
        height: 85vh;
    }

    .intro-container {
        margin-top: 10px;
        max-width: 800px;
    }
    
    .intro {
        font-size: 20px;
        border-radius: 0;
    }

    form {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 23px;
        line-height: 1.7;
        text-align: center;
        padding: 5px 2px;
    }
    
    #artist-song {
        width: 45%;
        max-width: 400px;
        font-size: 20px;
    }
    
    #instrument {
        width: 20%;
        max-width: 200px;
        font-size: 20px;
        margin-right: 0;
    }
    
    .button {
        max-width: 250px;
    }

    .button:hover {
        box-shadow: 0px 0px 9px 12px rgb(255, 0, 0);
        transition: .7s;
        cursor: pointer;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 15px;
        text-align: center;
    }

    .results {
        width: 100%;
        padding: 10px;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }

    .sheet-music-results-container {
        display: flex;
        flex-direction: column;
    }

    .sheet-music-results {
        width: 30%;
        min-width: 200px;
        max-width: 425px;
        font-size: 20px;
    }

    .lyrics-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lyrics-results {
        width: 30%;
        min-width: 200px;
        max-width: 425px;
        font-size: 20px;
    }

    .video-results {
        align-items: center;
        width: fit-content;
        max-width: 425px;
    }
    
    .video-info {
        font-size: 20px;
    }

}